.btn {
  display: block;
  padding: 8px;
  border: 0;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;

  &-primary {
    color: $white;
    background-color: $primary-color;
  }

  &-small {
    width: 80px;
  }

  &-full {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: $gray900;
    text-transform: uppercase;
  }
}

