.btn {
  display: block;
  padding: 8px;
  border: 0;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;

  &-primary {
    color: $white;
    background-color: $primary-color;
  }

  &-small {
    width: 80px;
  }

  &-medium {
    width: 120px;
  }

  &-full {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: $gray900;
    text-transform: uppercase;
  }

  &-text-black {
    color: $black;
    font-weight: 600;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-product-qty {
    width: 38px;
    background-color: $white;
    font-weight: 700;
    font-size: 24px;
    border: 1px solid $gray300;
  }
}

