.product-search {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &-input {
    font-size: 18px;
    border-radius: 0;
    border: 1px solid $gray300;
  }

  &-count {
    color: $gray300;
  }
}
