.radio-group {
  margin: 12px 0;

  &-set:not(:last-of-type) {
    margin-right: 12px;
  }

  &-label {
    display: inline-block;
    padding: 8px;
    background-color: $teal900;
    color: $white;
    cursor: pointer;

  }

  &-input {
    display: none;

    &:checked + span {
      background-color: $gray900;
    }
  }
}
