.cart-container {
  padding: 80px;
}

.cart-label {
  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 12px;
    border-bottom: 1px solid $gray900;
    font-weight: 600;
  }

  &-item {
    text-align: center;
  }
}

.cart {
  &-grandtotal {
    font-size: 32px;
    font-weight: 700;
    text-align: right;
  }

  &-empty {
    font-size: 42px;
    font-weight: 700;
  }
}
