@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@import './variables';

@import './components/Button/index';
@import './components/IconButton/index';
@import './components/Header/index';
@import './components/Nav/index';
@import './components/HeaderSidebar/index';
@import './components/Product/index';
@import './components/ProductList/index';
@import './components/RadioGroup/index';
@import './components/CartProduct/index';
@import './components/Breadcrumb/index';

@import './pages/HomePage/index';
@import './pages/CartPage/index';
@import './pages/LoginPage/index';
@import './pages/AccountPage/index';
@import './pages/ProductListingPage/index';
@import './pages/ProductDetailPage/index';
@import './pages/SearchPage/index';

.main {
  background-color: $gray100;
  max-width: 1440px;
  margin: auto;
}
