/* Main Container  */
.main {
  padding: 30px;
}


/* Product Items */
.product-items {
  display: flex;
  flex-wrap:wrap;
}

.product-items-list {
  margin: 30px 0;
}

.product-item {
  width: 400px;
}

.product-item-img {
  width: 200px;
}

.product-item-img img {
  width: 100%;
}
